ul.sliding-puzzle {
	list-style: none;
	width: 228px;
	height: 240px;
	border: 15px solid black;
	border-radius: 15px;
	margin: 0;
	padding: 0;
  background: black;
}

ul.sliding-puzzle > li.tile {
	float: left;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0px 0px;
	padding: 15px;
	border-top: 8px solid lightgrey;
	border-left: 8px solid lightgrey;
	border-bottom: 8px solid grey;
	border-right: 8px solid grey;
  background: white;
  font-weight: bold;
  font-size: 20px;
}

ul.sliding-puzzle > li.tile.blank {
	border: 8px solid black;
	background: black;
}

figure.sliding-puzzle-figure {
	width: 240px;
}

figcaption, 
ul.sliding-puzzle > li.tile {
	text-align: center;
}